
<html>
<head>


<meta property="og:site_name" content="The Mighty Booth">
<meta property="og:url" content="{{ path_link }}">  
<meta property="og:type" content="website"> 
<meta property="og:title" content="The Mighty Gif Booth">
<meta property="og:description" content="Live & Direct from Twizel.">
<meta property="og:image" content= {{ path_link  }}>

<style type="text/css">
 
share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>


</head>
<body>


<img src="{{path_link}}" alt="the mighty booth" height="690" width="480">


<!-- I got these buttons from simplesharebuttons.com -->
<div id="share-buttons">
    
   
    <!-- Facebook -->

    <a href="https://www.facebook.com/sharer/sharer.php?u={{path_link}}"><img src="http://indika.net/booth/social/facebook.png" alt="Facebook"/></a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{path_link}}" target="_blank"><img src="http://indika.net/booth/social/google.png" alt="Google"/></a>
    
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="http://indika.net/booth/social/pinterest.png" alt="Pinterest"/></a>
    
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()"><img src="http://indika.net/booth/social/print.png" alt="Print"/></a>
   
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{path_link}}&amp;text=Mighty%20Booth%20&amp;hashtags=MIghtyBooth" target="_blank"><img src="http://indika.net/booth/social/twitter.png" alt="Twitter"/></a>


</div>

</body>
</html>

